* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

.blog-post-card {
    margin: 100px auto;
    width: 340px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 4px grey;
}

.post-img {
    width: 100%;
    border-bottom: 4px solid indigo;
}

.post-content {
    padding: 18px 10px;
}

.post-title {
    margin: 12px 6px;
    color: indigo;
}

.post-excerpt {
    margin: 12px 6px;
    color: #4c0082b3;
}

.read-more {
    margin: 6px auto 0;
    padding: 10px 16px;
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: indigo;
    border-radius: 6px;
}

.read-more:hover {
    background-color: navy;
}